<!--<div class="col-md-offset-3 col-md-6">-->
    <!--<img ng-masonry ng-repeat="image in $ctrl.images" ng-src="{{image.link}}" />-->
<!--</div>-->
<div class="carousel">
    <div uib-carousel active="0" interval="5000">
        <div uib-slide ng-repeat="image in $ctrl.images track by $index" index="$index">
            <img ng-src="{{image.link}}"
                 class="img-responsive"
                 ng-style="{width: image.width, height: image.height}" />
            <div class="carousel-caption">
                <p>{{image.description}}</p>
            </div>
        </div>
    </div>
</div>
